@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  body {
    @apply font-extralight;
    font-family: "Helvetica Neue";
    background: var(--background);
    color: var(--foreground);
  }

  h1 {
    @apply text-[24px] md:text-[32px];
  }
  h2 {
    @apply text-[16px] md:text-[24px];
  }
  h3 {
    @apply text-[18px] md:text-[40px] font-normal tracking-widest;
  }
  input[type="text"] {
    @apply text-[12px];
  }
  p {
    @apply text-[16px] md:text-[24px] tracking-widest font-thin; 
  }
}

@layer utilities {
  .bg-epicure {
    background-color: #FAFAFA;
  }
}

@layer components {
  .ep-link {
    @apply block font-thin text-[18px] leading-[20px] tracking-[2.8px];
  }
}
